*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-image: url(https://i.pinimg.com/564x/d3/e8/e1/d3e8e1d37e4a08cf98415296bf645ac7.jpg);
    backdrop-filter: blur(4px);
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: center ;
    background-position-y: bottom;
    background-position: center;
    border: 2px solid black ;
    border-radius: 10px;
    width: 100%;
    height: 100vh;
    object-fit:cover;
    opacity: 0.;

}
.A{
    position: relative;
    width: 100%;
    display: flex;
    /* align-items: center; */
    /* position: sticky; */
    top: -18px;
    bottom: 4px;
    color:black;
    padding: 8px;
    /* height: 25px; */
    /* width:0%;         */
    margin:40px 30px;
    margin-left: -8px;
    justify-content: center;
    text-align: center;
}
nav{
    display: flex;
    width: 84%;
    /* margin: auto; */
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.A ul li{
    display: inline-block;
    list-style: none;
    margin:3px 10px  ;
    /* list-style: none; */
    font-size: 1.3rem;
}

.A ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    position: relative;
    display: block;
    padding: 3px 20px;
    /* margin: 0 20px; */
    border-radius: 20px;
    text-decoration: none;
}
.A a::after{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -6px;
    height: 2px;
    background-color: rgb(0, 69, 181);
    /* border-radius: 40px; */
    /* transform:scaleX(0); */
    /* transform-origin: right; */
    /* transition: transform .3s; */
}
.A a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
nav ul li a:hover{
    color: rgb(13, 149, 223);
}
.B{
    margin-left: 10%;
    margin-top: 6%;
}
.B  h2{
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
}
em{
    color: rgb(204, 27, 63);
}
.B p{
    color: rgb(7, 4, 111);
    line-height: 25px;
}

.C{
    margin-left: 10%;
    margin-top: 6%;
}
.C h2{
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
}
.C p em{
    color: rgb(205, 17, 108);
    line-height: 25px;

}